* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_898 {
  width: 100%;
  height: 1080px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_899 {
  width: 100%;
  height: 88px;
  background: rgba(39,39,42,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_903 {
  width: 66px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 119px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_904 {
  width: 79px;
  color: rgba(161,161,170,1);
  position: absolute;
  top: 13px;
  left: 213px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1_906 {
  width: 121px;
  color: rgba(161,161,170,1);
  position: absolute;
  top: 52px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_907 {
  width: 66px;
  color: rgba(161,161,170,1);
  position: absolute;
  top: 68px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_914 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 55px;
  left: 249px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_915 {
  width: 234px;
  height: 992px;
  background: rgba(39,39,42,1);
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_931 {
  width: 110px;
  height: 30px;
  background: rgba(32,33,36,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 244px;
  overflow: hidden;
}
.v1_932 {
  width: 56px;
  color: rgba(161,161,170,1);
  position: absolute;
  top: 0px;
  left: 12px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_933 {
  width: 200px;
  height: 30px;
  background: rgba(32,33,36,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 1111px;
  overflow: hidden;
}
.v1_934 {
  width: 90px;
  color: rgba(161,161,170,1);
  position: absolute;
  top: 0px;
  left: 12px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_935 {
  width: 200px;
  height: 30px;
  background: rgba(32,33,36,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 1311px;
  overflow: hidden;
}
.v1_936 {
  width: 97px;
  color: rgba(161,161,170,1);
  position: absolute;
  top: 0px;
  left: 12px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_937 {
  width: 200px;
  height: 30px;
  background: rgba(32,33,36,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 1511px;
  overflow: hidden;
}
.v1_938 {
  width: 138px;
  color: rgba(161,161,170,1);
  position: absolute;
  top: 0px;
  left: 12px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_939 {
  width: 200px;
  height: 30px;
  background: rgba(32,33,36,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 1711px;
  overflow: hidden;
}
.v1_940 {
  width: 121px;
  color: rgba(161,161,170,1);
  position: absolute;
  top: 0px;
  left: 12px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_941 {
  width: 757px;
  height: 30px;
  background: rgba(32,33,36,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 354px;
  overflow: hidden;
}
.v1_942 {
  width: 142px;
  color: rgba(161,161,170,1);
  position: absolute;
  top: 0px;
  left: 12px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_943 {
  width: 110px;
  height: 60px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 244px;
  overflow: hidden;
}
.v1_944 {
  width: 757px;
  height: 60px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 354px;
  overflow: hidden;
}
.v1_945 {
  width: 214px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 151px;
  left: 366px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_946 {
  width: 200px;
  height: 60px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 1311px;
  overflow: hidden;
}
.v1_947 {
  width: 200px;
  height: 60px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 1311px;
  overflow: hidden;
}
.v1_948 {
  width: 200px;
  height: 60px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 1711px;
  overflow: hidden;
}
.v1_949 {
  width: 200px;
  height: 60px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 1711px;
  overflow: hidden;
}
.v1_950 {
  width: 74px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 151px;
  left: 1723px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1_952 {
  width: 110px;
  height: 60px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 190px;
  left: 244px;
  overflow: hidden;
}
.v1_953 {
  width: 757px;
  height: 60px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 190px;
  left: 354px;
  overflow: hidden;
}
.v1_954 {
  width: 179px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 211px;
  left: 366px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_955 {
  width: 200px;
  height: 60px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 190px;
  left: 1311px;
  overflow: hidden;
}
.v1_956 {
  width: 200px;
  height: 60px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 190px;
  left: 1311px;
  overflow: hidden;
}
.v1_957 {
  width: 200px;
  height: 60px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 190px;
  left: 1711px;
  overflow: hidden;
}
.v1_958 {
  width: 200px;
  height: 60px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 190px;
  left: 1711px;
  overflow: hidden;
}
.v1_959 {
  width: 74px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 211px;
  left: 1723px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1_961 {
  width: 110px;
  height: 60px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 244px;
  overflow: hidden;
}
.v1_962 {
  width: 757px;
  height: 60px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 354px;
  overflow: hidden;
}
.v1_963 {
  width: 129px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 271px;
  left: 366px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_964 {
  width: 200px;
  height: 60px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 1311px;
  overflow: hidden;
}
.v1_965 {
  width: 200px;
  height: 60px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 1311px;
  overflow: hidden;
}
.v1_966 {
  width: 200px;
  height: 60px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 1711px;
  overflow: hidden;
}
.v1_967 {
  width: 200px;
  height: 60px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 1711px;
  overflow: hidden;
}
.v1_968 {
  width: 44px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 271px;
  left: 1123px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_969 {
  width: 36px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 271px;
  left: 1323px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_970 {
  width: 43px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 271px;
  left: 1523px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_971 {
  width: 44px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 211px;
  left: 1123px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_972 {
  width: 36px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 211px;
  left: 1323px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_973 {
  width: 43px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 211px;
  left: 1523px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_974 {
  width: 44px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 151px;
  left: 1123px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_975 {
  width: 36px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 151px;
  left: 1323px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_976 {
  width: 43px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 151px;
  left: 1523px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_977 {
  width: 63px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 271px;
  left: 1723px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_981 {
  width: 24px;
  height: 24px;
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 256px;
  overflow: hidden;
}
.v1_982 {
  width: 24px;
  height: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_984 {
  width: 24px;
  height: 24px;
  opacity: 1;
  position: absolute;
  top: 208px;
  left: 276px;
  overflow: hidden;
}
.v1_985 {
  width: 24px;
  height: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_987 {
  width: 24px;
  height: 24px;
  opacity: 1;
  position: absolute;
  top: 268px;
  left: 296px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_990 {
  width: 110px;
  height: 60px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 310px;
  left: 244px;
  overflow: hidden;
}
.v1_991 {
  width: 757px;
  height: 60px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 310px;
  left: 354px;
  overflow: hidden;
}
.v1_992 {
  width: 129px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 331px;
  left: 366px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_993 {
  width: 200px;
  height: 60px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 310px;
  left: 1311px;
  overflow: hidden;
}
.v1_994 {
  width: 200px;
  height: 60px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 310px;
  left: 1311px;
  overflow: hidden;
}
.v1_995 {
  width: 200px;
  height: 60px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 310px;
  left: 1711px;
  overflow: hidden;
}
.v1_996 {
  width: 200px;
  height: 60px;
  background: rgba(32,33,36,1);
  opacity: 1;
  position: absolute;
  top: 310px;
  left: 1711px;
  overflow: hidden;
}
.v1_997 {
  width: 44px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 331px;
  left: 1123px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_998 {
  width: 36px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 331px;
  left: 1323px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_999 {
  width: 24px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 331px;
  left: 1523px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_1000 {
  width: 63px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 331px;
  left: 1723px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1_1002 {
  width: 24px;
  height: 24px;
  opacity: 1;
  position: absolute;
  top: 328px;
  left: 296px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
